@font-face {
    font-family: 'HammersmithOne';
    src: url('HammersmithOne.ttf');
}

@font-face {
    font-family: 'Rye';
    src: url('RyeRegular.ttf');
}
@font-face {
    font-family: 'Hagrid-Regular';
    src: url('Hagrid-Regular.ttf') format('truetype');
}

